body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

.navbar {
    background: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.container {
    padding: 20px;
}

section {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

button {
    padding: 6px 10px;
    margin-top: 5px;
    cursor: pointer;
}

input {
    display: block;
    margin-bottom: 5px;
    padding: 5px;
}
 
